@page "/"
@using LoginTest.Controller
@using LoginTest.Data.Models
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject AccountController accountController
@inject UserManager<AppUser> userManager
@inject SignInManager<AppUser> signInManager
@inject AuthenticationStateProvider ASP
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<hr />
User:<input @bind="userName"/>
Pass:<input @bind="passWord" />
<button @onclick="register">Register</button>
<button @onclick="login">Login</button>
<p>Status: @status</p>

<AuthorizeView>
	<Authorized>
		<p>User is authorised</p>
	</Authorized>
	<NotAuthorized>
		<p>User not authorised</p>
	</NotAuthorized>
</AuthorizeView>

@code {
	string userName;
	string passWord;
	string status;

	public void register()
	{
		accountController.Register(userName, passWord);
	}

	public async Task login()
	{
		var user = await userManager.Users.FirstOrDefaultAsync(x => x.UserName.ToLower() == userName.ToLower());
		if (user == null) { 
			status = "User not found"; 
			return; 
		}
		var result = await signInManager.CheckPasswordSignInAsync(user, passWord, false);
		if (result.Succeeded)
		{
			status = "User signed in";
		} else
		{
			status = "User NOT signed in";
		}
	}
}